@media screen and (min-width:500px){
    body{
        background-color:papayawhip;
        font-family: 'Didot', monospace;
        
    }
}
div{
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    margin-bottom:10px;
    width:70%;
}
.box{
    width:80%
}

#div3{
    float:right;
    width:50%;
}
#div2{
    float:left;
    width:50%;
}
textarea{
    resize:none;
}

div div{
    margin-top:0;
    margin-bottom:0;
}

